#map{
	height: 400px;
	width: 100%;
}

#getCurLoc{
	color: red;

	width: 95%;
	padding: 12px;
	border: 1px solid #bbb;
	border-radius: 4px;
	resize: vertical;
}

input[type=text], select, textarea {
	width: 95%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=button]{
	width: 95%;
	padding: 12px;
	border: 1px solid #bbb;
	border-radius: 4px;
	resize: vertical;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25, .col-75 {
		width: 100%;
		margin-top: 0;
	}
}